@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-50: #eff6ff;
  --brand-100: #dbeafe;
  --brand-200: #bfdbfe;
  --brand-300: #93c5fd;
  --brand-400: #60a5fa;
  --brand-500: #3b82f6;
  --brand-600: #2563eb;
  --brand-700: #1d4ed8;
  --brand-800: #1e40af;
  --brand-900: #1e3a8a;
}

.dark {
  --brand-50: #172554;
  --brand-100: #1e3a8a;
  --brand-200: #1d4ed8;
  --brand-300: #2563eb;
  --brand-400: #3b82f6;
  --brand-500: #60a5fa;
  --brand-600: #93c5fd;
  --brand-700: #bfdbfe;
  --brand-800: #dbeafe;
  --brand-900: #eff6ff;
}
